@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out 2s;
    font-family: Rubik;
}

body {
    font-family: Rubik;
    background-color: hsl(226, 43%, 10%);
    color: white;
    padding: 81px 25px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 328px;
    height: 205px;
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}


.head-con {
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    padding: 30px;
    background-color: hsl(235, 45%, 61%);
    width: 100%;
    height: 133px;
}

.person-detail span {
    font-size: 12px;
    color: hsl(236, 100%, 87%);
}

.person-detail h1 {
    font-size: 25px;
    font-weight: 300;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 2px solid white;
    overflow: hidden;
}
.pics {
    width: 70px;
    transition: all ease-in-out 0.5s;
}

.pics:hover {
    transform: scale(1.2);
}

nav {
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: hsl(236, 100%, 87%);
}

.active {
    color: white;
}

nav span {
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

nav span:hover {
    color: white;
}

main {
    display: flex;
    margin: 25px;
    max-width: 827px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.head {
    height: 160px;
    width: 328px;
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.head.work {
    background-color: hsl(15, 100%, 70%);
}

.head.play {
    background-color: hsl(195, 74%, 62%);
}

.head.study {
    background-color: hsl(348, 100%, 68%);
}

.head.exercise {
    background-color: hsl(145, 58%, 55%);
}

.head.social {
    background-color: hsl(264, 64%, 52%);
}


.head.self-care {
    background-color: hsl(43, 84%, 65%);
}

.svg-head {
    position: absolute;
    right: 15px;
    top: -8px;
}

.data-container {
    width: 100%;
    height: 122px;
    position: absolute;
    background-color: hsl(235, 46%, 20%);
    bottom: 0;
    border-radius: 15px;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.data-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px 0;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.data-details {
    display: flex;
    align-items: center;
    padding: 3px 0;
    justify-content: space-between;
    width: 100%;
}

#work-hour,
#play-hour,
#social-hour,
#exer-hour,
#study-hour,
#self-hour
 {
    font-size: 30px;
    font-weight: 300;
}

.prev-work,
.prev-play,
.prev-social,
.prev-exer,
.prev-study,
.prev-self
{
    font-size: 15px;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
}

footer {
    width: 100%;
    height: 81px;
    padding: auto auto;
}


@media (min-width: 550px) {
    .head {
        width: 256px;
    }
}

@media (min-width: 850px) {
    .container {
        flex-direction: row;
    }
    header {
        width: 256px;
        height: 517px;
    }

    .head-con {
        height: 356px;
        flex-direction: column;
        padding: 50px 25px;
    }

    nav {
        flex-direction: column;
        height: 200px;
        justify-content: space-around;
    }
    
    .person-detail span {
        font-size: 12px;
        color: hsl(236, 100%, 87%);
    }

    .person-detail h1 {
        font-size: 40px;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }

    .pics {
        width: 80px;
    }

}

@media (min-width: 1135px) {
    .head {
        height: 245px;
    }

    .data-container {
        height: 200px;
    }
    
    .data-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 3px 0;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
    }
    
    .data-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3px 0;
        gap: 15px;
        justify-content: space-between;
        width: 100%;
    }

    #work-hour,
    #play-hour,
    #social-hour,
    #exer-hour,
    #study-hour,
    #self-hour
    {
        font-size: 55px;
        font-weight: 300;
    }

    .prev-work,
    .prev-play,
    .prev-social,
    .prev-exer,
    .prev-study,
    .prev-self
    {
        font-size: 15px;
        font-weight: 300;
        color: hsl(236, 100%, 87%);
    }
}